<div style="display: flex">
  <div style="flex: 1">
    <ul>
      <li><span>FILTERING OPERATOR</span></li>

      <li><a routerLink="take">Take</a></li>
      <li><a routerLink="takelast">Take last</a></li>
      <li><a routerLink="takeuntil">Take Until</a></li>
      <li><a routerLink="takewhile">Take While</a></li>
      <li><a routerLink="skip">Skip</a></li>
      <li><a routerLink="skiplast">SkipLast</a></li>
      <li><a routerLink="skipuntil">SkipUntil</a></li>
      <li><a routerLink="skipwhile">Skip While</a></li>
      <li><a routerLink="distinct">Distinct</a></li>
      <li><a routerLink="distinctuntilchange">DistinctUntilChanged</a></li>
      <li><a routerLink="distinctuntilkeychange">DistinctUntilKeyChanged</a></li>
      <li><a routerLink="filter">Filter</a></li>
      <li><a routerLink="sample">Sample</a></li>
      <li><a routerLink="audit">Audit</a></li>
      <li><a routerLink="throttle">Throttle</a></li>
      <li><a routerLink="first">First</a></li>
      <li><a routerLink="last">Last</a></li>
      <li><a routerLink="debounce">Debounce</a></li>
      <li><a routerLink="elementat">ElementAt</a></li>
      <li><a routerLink="ignoreelements">Ignore Elements</a></li>
      <li><a routerLink="single">Single</a></li>
      <li><a routerLink="ajax">AJAX</a></li>
      <li><a routerLink="retry">Retry</a></li>
      <li><a routerLink="retrywhen">RetryWhen</a></li>
      <li><a routerLink="isempty">IsEmpty</a></li>
      <li><a routerLink="findindex">Find Index</a></li>
      <li><a routerLink="find">Find</a></li>
      <li><a routerLink="every">Every</a></li>
      <li><a routerLink="delay">Delay</a></li>
      <li><a routerLink="defaultifempty">Default if empty</a></li>
      <li><a routerLink="toarray">To Array</a></li>
      <li><a routerLink="subscribeon">Subscribe on</a></li>
      <li><a routerLink="observeon">Observe on</a></li>
      <li><a routerLink="materialize">Materialize</a></li>
      <li><a routerLink="dematerialize">Dematerialize</a></li>
      <li><a routerLink="tap">Tap</a></li>
      <li><a routerLink="shareReplay">ShareReplay</a></li>



    </ul>
    <ul>
      <li><span>OPERADORES DE TRANSFORMACION</span></li>
      <li><a routerLink="buffer">Buffer</a></li>
      <li><a routerLink="buffercount">Buffer Count</a></li>
      <li><a routerLink="buffertime">Buffer Time</a></li>
      <li><a routerLink="buffertoggle">Buffer Toggle</a></li>
      <li><a routerLink="bufferwhen">Buffer When</a></li>
      <li><a routerLink="map">Map</a></li>
      <li><a routerLink="mapto">MapTO</a></li>
      <li><a routerLink="mergemap">MergeMap</a></li>
      <li><a routerLink="mergemapto">MergeMapTO</a></li>
      <li><a routerLink="concatmap">ConcatMap</a></li>
      <li><a routerLink="exhaustmap">ExhaustMap</a></li>
      <li><a routerLink="switchmap">Switchmap</a></li>
      <li><a routerLink="switchmapto">SwitchmapTO</a></li>
      <li><a routerLink="scan">Scan</a></li>

    </ul>
    <ul>
      <li><span>JOIN CREATOR OPERATORS</span></li>
      <li><a routerLink="combinelatest">CombineLatest</a></li>
      <li><a routerLink="concat">Concat</a></li>
      <li><a routerLink="forkjoin">ForkJoin</a></li>
      <li><a routerLink="merge">Merge</a></li>
      <li><a routerLink="partition">Partition</a></li>
      <li><a routerLink="race">Race</a></li>
      <li><a routerLink="zip">Zip</a></li>
    </ul>

    <ul>
      <li><a routerLink="defer">Defer</a></li>
      <li><a routerLink="range">Range</a></li>
      <li><a routerLink="generate">Generate</a></li>
      <li><a routerLink="timer">Timer</a></li>
      <li><a routerLink="count">Count</a></li>
      <li><a routerLink="max">Max</a></li>
      <li><a routerLink="min">Min</a></li>
      <li><a routerLink="reduce">Reduce</a></li>
      <li><a routerLink="interval">Interval</a></li>
    </ul>
    <ul>
      <li><span>MULTICASTING OPERATORS</span></li>
      <li><a routerLink="share">Multicasting Operator:Share</a></li>

    </ul>

  </div>
  <div>

  </div>
  <div style="flex: 4">
    <div><router-outlet></router-outlet></div>
  </div>
</div>
