<p>fork-join works!</p>
<img src="/assets/images/forkJoin.png" style="width: 100%; height: 100%;" alt="">

<div>
  <p>ForkJoin recibe como argunmento un array de observables. Y como resultado emite una sola respuesta (array) con los valores de cada uno de los observables
  </p>
  <p>Este espera a que se completa cada uno de los observable y hace una combinacion de los ultimos valores (combine latest) emitidos por los observables</p>
  <p>Si ocurre un error en el observable, autoamticamente se unsubscribe</p>
  <p>Si no se completa no retorna ningun valor</p>
  <p>Por ejemplo en la figura como resultado devuelve e,j,4</p>
</div>
