<p>debounce works!</p>
<h1>Ejemplo1</h1>

<p>El debounce me permite controlar la emision de valores,
    Ej
   <br>
   <br>
   presiono las teclas a b c d e f
   <br>
    a-b-c-d-e-f    debounce=espera 1seg
   <br>
   <br>
   a//-b//-c//-d//-e//-f             toma el f,y emite el valor, espera un segundo e ignora el resto de los valores
   <br>
   <br>
    g-                         pasado el segundo se emite g y vuelve a ignorar el resto de los valores
    en caso de completarse el tiempo toma el ultimo valor emitido por el SObs
</p>

<h1>Ejemplo2</h1>
<button id="button_debounce">Iniciar debounce al 1 seg</button>