<!-- <h1>RxJS Observables</h1>

<a href="#" id="click-button">Click Here</a>

<app-new-observable></app-new-observable> -->
<!--
<app-function-observable></app-function-observable> -->
<!-- <app-cancelling-observable></app-cancelling-observable> -->

<!-- <app-operators-basics></app-operators-basics>  -->

<div><a routerLink="/operators">Operators</a></div>
<div><a routerLink="/subject">Subject</a></div>
<div><a routerLink="/couldobservable">Could Observable</a></div>
<div><a routerLink="/behiviorsubject">Behavior Subject</a></div>
<div><a routerLink="/replaysubject">Replay Subject</a></div>
<div><a routerLink="/asyncsubject">Async Subject</a></div>
<div><a routerLink="/voidsubject">Void Subject</a></div>
<div><a routerLink="/catcherror">Catch Error</a></div>
<div><a routerLink="/mergescomponent">Merge vs MergeAll vs MergeMap</a></div>
<div>
  <a routerLink="/concatscomponent">Concat vs ConcatAll vs ConcatMap</a>
</div>
<div>
  <a routerLink="/switchvsmergevsexhaustvsconcat"
    >Concat vs ExhaustMap vs MergeMap vs Swithmap</a
  >
</div>
<div><a routerLink="/schedulers">Schedulers</a></div>
<div><a routerLink="/reactdatabase">React data base</a></div>
<!-- <div><a routerLink="/connectable">Connectable</a></div> -->

<div>
  <router-outlet></router-outlet>
</div>
